bandit==1.7.10
black==24.10.0
coverage==7.6.8
flake8==7.1.1
httpx==0.27.2
locust==2.32.4
pytest==8.3.4
requests==2.32.3
uvicorn==0.32.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability