bandit==1.7.6
black==23.12.1
coverage==7.4.0
flake8==7.0.0
httpx==0.26.0
locust==2.20.1
pytest==7.4.4
requests==2.31.0
uvicorn==0.26.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability