alembic==1.13.1
aws-lambda-powertools==2.36.0
boto3==1.34.70
bcrypt==4.1.2
email-validator==2.1.1
fastapi==0.110.0
logzero==1.7.0
mangum==0.17.0
notifications-python-client==9.0.0
pydantic==1.10.14
psycopg2-binary==2.9.9
SQLAlchemy==2.0.29